body {
    max-width: 1600px;
    font-family: 'Lato', sans-serif;
}

.pading-site {
    padding-left: 230px;
    padding-right: 230px;
}

.max-width {
    width: 1140px;
    margin: 0 auto;
}

.container-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.container-section-peoduct {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.header {
    height: 100px;
    background-color: #ffffff;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-h2 {
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    padding-left: 13px;
    padding-right: 37px;
}

.logo-end {
    font-size: 27px;
    line-height: 32px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

.browse {
    width: 87px;
    height: 38px;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    text-align: center;
    justify-content: center;
}

.browse-p {
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.025em;
    color: #222222;
}

.caret-down {
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #838383;
}

.search {
    width: 317px;
    height: 36px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
}

.search[placeholder] {
    padding-left: 16px;
}

.search-button {
    width: 38px;
    height: 40px;
    padding: 0px;
    border-radius: 0px 3px 3px 0px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 51px;
}

.nav-item {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}

.nav-link {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
    padding: 10px 19px;
}

.section_slider {
    background-color: #e8e8e8;
    background-image: url(/image/section1.jpg);
}

.section_slider_h2 {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
    line-height: 0.8;
    width: 500px;
}

.section_slider_h2_S1 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
}

.section_slider_h2_S2 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

.div_section_slider_h2 {
    position: absolute;
    top: 224px;
    padding-left: 12px;
    border-left: 12px solid #f16d7f;
}

.baner-a {
    position: relative;
    padding-bottom: 20px;
}

.badge-p {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}

.baner-right {
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10px;
}

.baner-left {
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 10px;
}

.baner {
    padding-top: 98px;
}

.badge-s {
    font-size: 30px;
    color: #f16d7f;
}

.div-badge {
    background-color: #ffffff;
    position: absolute;
    top: 26px;
}

.browse-p .fa-caret-down {
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.025em;
    color: #838383;
    padding-left: 6px;
}

.fa-search {
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #a4a4a4;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-right-button {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    margin-left: 26px;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.header-right-button .fa-caret-down {
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.025em;
    color: #ffffff;
    padding-left: 6px;
}

.product-link {
    display: block;
    width: 263px;
    height: 364px;
    text-decoration: none;
}

.product-item {
    width: 263px;
    height: 364px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;
}

.product-item:hover {
    background-color: #ffffff;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.product-box {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.prod-desc {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
    padding-bottom: 17px;
    padding-top: 19px;
}

.prod-price {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
}

.text-box {
    padding-left: 13px;
}

.prod-img {
    width: 100%;
}

.product-h3-p {
    width: 100%;
}

.section-product-h3 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #222222;
    width: 100%;
    text-align: center;
    margin-top: 79px;
}

.section-product-p {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;
    width: 100%;
    text-align: center;
    margin-top: 15px
}

.add {
    display: flex;
    text-decoration: none;
    width: 100%;
    padding: 10px 12px;
    align-items: center;
}

.product-link:hover {
    filter: brightness(50%);
}

.add-box {
    position: absolute;
    border: 1px solid #ffffff;
    display: none;
    top: 97px;
}

.add-box:hover {
    display: flex;
}

.product-link:hover + .add-box {
    display: flex;
}

.add-img {
    width: 23px;
    height: 22px;

}

.add-p {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    padding-left: 8px;
}

.browse-all-button {
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
    align-items: center;
    padding: 0px;
}

.browse-all-button-p {
    font-size: 16px;
    line-height: 47px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    width: 100%;
}

.container-feature {
    margin-top: 113px;
    margin-bottom: 97px;
    height: 529px;
    background-color: #222224;
    flex-wrap: nowrap;
    position: relative;
}

.container-feature-badge {
    position: absolute;
    font-size: 53.7px;
    line-height: 0.7;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    width: 300px;
    height: 78px;
}

.cont-feat-badge-s1 {
    font-size: 53.7px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

.cont-feat-badge-s2 {
    font-size: 32.2px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.div-container-feature-badge {
    position: absolute;
    left: 39px;
    top: 146px;
    width: 300px;
    height: 78px;
}

.article-box {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    padding-top: 48px;
}

.article-box-items {
    height: 30%;
    display: flex;
    flex-wrap: nowrap;
}

.article-box-items-h3 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
}

.article-box-items-p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    padding-top: 17px;
    padding-right: 43px;
    word-break: break-all;
}

.article-box-items-img {
    width: 45px;
    height: 32px;
    padding-left: 36px;
    padding-right: 33px;
}

.container_slider {
    position: relative;
    height: 665px;
}

.section-subscrube {
    background-image: url(/image/subscrube.jpg);
    height: 438px;
}


.container-section-subscrube {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    height: 438px;
}

.subscrube {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-left: 1px solid #fff;
    height: 438px;
}

.slider-reviews {
    display: flex;
    width: 50%;
    height: 438px;
}

.subscrube-h3 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0.025em;
    color: #222224;
}

.subscrube-h3-s {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
}

.div-subscrube-h3 {
    display: flex;
    text-align: center;
    align-items: flex-end;
    height: 50%;
}

.subscrube-input {
    width: 282px;
    height: 46px;
    background-color: #e1e1e1;
    border-radius: 23px 0 0 23px;
    padding: 0;
    border: 0;
}

.subscrube-input[placeholder] {
    opacity: 0.67;
    font-family: Lato;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222224;
    padding-left: 38px;
}

.div-subscrube-input {
    display: flex;
    align-items: flex-start;
    height: 50%;
    margin-top: 35px;
}

.subscrube-submit {
    width: 104px;
    height: 46px;
    background-color: #f16d7f;
    border-radius: 0px 23px 23px 0px;
    padding: 0;
    border: 0;
}

.subscrube-submit[type] {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.slider-nav {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    z-index: 10;
    margin: 5px 6px;
    outline: 2px solid #d6d6d6;
    outline-offset: -2px;
    cursor: pointer;
}

.slider-nav[checked] {
    background-color: #f16d7f;
    outline: 2px solid #f16d7f;
    outline-offset: -2px;
}

.slider {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.slider-contents {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 180px;
    width: 497px;
}

.slider-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.slider-img {
    height: 100%;
}



.slider-caption {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222224;
}

.slider-caption-s {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

.slider-text {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 24px;
    width: 100%;
    padding-top: 12px;
}

.slider-txt {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #222224;
    text-align: inherit;
}

.div-slider-nav {
    width: 100%;
}

.google-icon {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pinterest-icon {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkedin-icon {
    width: 32px;
    height: 32px;
    opacity: 0.29;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.twitter-icon {
    width: 32px;
    height: 32px;
    background-color: #f16d7f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facebook-icon {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-google-plus-g {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #b2b2b2;
}

.fa-pinterest-p {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #b2b2b2;
}

.fa-linkedin-in {
    opacity: 0.08;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #b2b2b2;
}

.fa-twitter {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #f7f7f8;
}

.fa-facebook {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #b2b2b2;
}

.div-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    width: 191px;
}

.footer-container-down {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 79px;
    background-color: #e6e6e6;
}

.icon-a {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.footer-container-up {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 458px;
}

.logo-footer {
    width: 165px;
    height: 51px;
}

.div-footer-container-down {
    background-color: #e6e6e6;
}

.logo-footer-div-p {
    width: 427px;
    height: 190px;
    overflow: hidden;
    margin-top: 29px;
}

.logo-footer-p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
}

.footer-h2 {
    font-size: 18px;
    line-height: 26px;font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    padding-bottom: 25px;
    padding-top: 20px;
}

.footer-a {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
    text-decoration: none;
}

.footer-container-down-p {
    font-size: 16px;line-height: 42px;font-weight: 400;letter-spacing: 0.025em;color: #7a7a7a;
}
